<footer>
  <hr>
  <a href="/updates/atom.xml" target="_blank" rel="noopener" title="RSS">
    <img
      src="{{ get_url(path='/rss.svg', cachebust=true) }}"
      alt="RSS feed icon"
    />
  </a>
  <p>
    All the discussions and documents archived: if you have any question feel
    free to ask
    <a href="https://matrix.to/#/#gitea-fork-on-codeberg:matrix.org">in the chatroom</a>

    or read the raw material (it is a lot but it is available publicly, archives
    are
    <a href="https://matrix.to/#/#gitea-open-letter:matrix.org">here</a>
    and
    <a
      href="https://matrix.to/#/!SakSkZqjzMsaPCVqlv:matrix.batsense.net/$mQlw3xHwmXAjV0Vs5h2WNBIlcjNRG9L5v2R_uv7B5S4?via=matrix.org&via=t2bot.io&via=envs.net"
      >here</a
    >)
  </p>
</footer>
