<header>
  <h1>
    <a href="https:&#x2F;&#x2F;gitea-open-letter.coding.social&#x2F;"
      >Open Letter to Gitea</a
    >
  </h1>
  <div class="nav__spacer"></div>
  <nav>
    <a class="nav__link" href="&#x2F;updates">Updates</a>

    <a
      class="nav__link"
      href="https:&#x2F;&#x2F;codeberg.org&#x2F;SocialCoding&#x2F;gitea-open-letter&#x2F;src&#x2F;branch&#x2F;main&#x2F;README.md"
      >Sign this letter</a
    >
  </nav>
</header>
